:root{
    --cor01: #02381e;
    --cor02: #6cb445;
    --cor03: #97e430;
    --cor04: #c3fb78;
    --cor05: #48772e; 
    --cor06: #F2F2F2; 

}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Open Sans", system-ui;
    }
  

.titulo{
    color: var(--cor06);
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.493);
    font-size: 2em;
    text-align: center;
}

html, body{
    width: 100vw;
    height: 100vh;

}
body{
    background: var(--cor01);
}

footer{
    text-align: center;
    text-decoration: none;
    color: var(--cor06);
    background-color: var(--cor05);
    position: relative;
    bottom: -100vh;
}
footer a{
    text-decoration: none;
    color: var(--cor03);
}




.favorito{
    color: var(--cor03);
}